<nb-layout>
  <nb-layout-header fixed>
    <!-- Insert header here -->
    <span routerLink="customized/dual-selector" class="btn">dual-selector</span> |
    <span routerLink="customized/dynamic-component" class="btn">dinamic-comp</span> |
    <span routerLink="customized/dynamic-acction-popover" class="btn">action popover</span>
  </nb-layout-header>
  <nb-layout-column>
    <nb-sidebar tag="right" right state="collapsed">
      <app-container-dynam-directive></app-container-dynam-directive>
    </nb-sidebar>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
